.qrcodeg-jump-btn {
    margin-left: 10px;
}

.qrcodeg-jump-btn-logo {
    width: 12px;
    height: 12px;
    margin-right: 2px;
    vertical-align: baseline;
}

// 重新网页原有样式，将关闭按钮的样式改为40*40
.jconfirm-closeIcon {
    right: 20px !important;
    top: 20px !important;
    scale: 2;
}